@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: "Inter", "sans-serif";
  --color-bk-900: #0E1422;
  --color-bk-800: #202533;
  --color-bk-700: #333845;
  --color-bk-600: #474b57;
  --color-bk-500: #5c5f6a;
  --color-bk-300: #878a92;
  --color-bk-100: #e6e7e8;
  --color-w-100: #f6f6f6;
  --color-w-200: #e9e9eb;
  --spacing-240px: 240px;
  --spacing-248px: 248px;
  --spacing-312px: 312px;
  --spacing-360px: 360px;
  --color-green: #5A9868;
  --color-blue: #759DF4;
  --color-red: #BE1313 ;
  --color-yellow: #F9C14C;
  --color-clear: #E8EFFD;
  --color-navy: #120a8f;
  --color-brown: #803300;
  --color-beige: #ffc0a3;
  --color-silver: #C4C4C4;

}

.custom-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #0E1422;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  border: 2px solid #ffffff
}